* {
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
  text-decoration: none;
}

html,
body {
  background: rgb(255, 255, 255);
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  color: #fddc5b;
}
